/***** layout *****/
section {
  max-width: 1600px;
  margin: 3em auto;
}
section::after {
  content: "";
  display: block;
  clear: both;
}

.innerbox {
  width: 100%;
  position: relative;
}
.innerbox::after {
  content: "";
  display: block;
  clear: both;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

/***** TYPE1 - FAQ *****/
.type1 details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.type1 details + details {
  border-top: 0;
}
.type1 details[open] .question {
  color: #407a33;
  background-image: url(../images/angle-up.png);
}
.type1 .question {
  padding: 1.5em 1em;
  background-image: url(../images/angle-down.png);
  background-repeat: no-repeat;
  background-size: 30px 17px;
  background-position: right 1em center;
}
.type1 .question::before {
  content: "Q. ";
  color: #407a33;
}
.type1 .answer {
  position: relative;
  padding: 1.5em 1em 1.5em 3.2em;
  background-color: #fffef5;
  border-top: 1px dashed #ddd;
  word-break: keep-all;
}
.type1 .answer::before {
  content: "A";
  display: inline-block;
  position: absolute;
  top: 1.5em;
  left: 1em;
  padding: 0 0.5em;
  margin: 0 0.5em 0 0;
  background-color: #5a9cc6;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
}

/***** TYPE2 - TAB *****/
.type2 .innerbox {
  padding-top: 4em;
}

.course_wrap {
  width: 100%;
}
.course_wrap:nth-of-type(1) .course_tab_btn {
  width: 33%;
  left: 0;
  background-color: #eb720a;
}
.course_wrap:nth-of-type(2) .course_tab_btn {
  width: 33%;
  left: 33.5%;
  background-color: #fa4a67;
}
.course_wrap:nth-of-type(3) .course_tab_btn {
  width: 33%;
  left: 67%;
  background-color: #288ed7;
}

.course_tab_btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.course_tab_con {
  position: static;
  padding: 1em;
  background-color: #033D57;
  border-radius: 4px;
  color: #fff;
}
.course_tab_con ul li {
  display: inline-block;
  padding-left: 2.5em;
  margin: 0.2em 0 0.2em 0.5em;
  background-image: url(../images/main_area_arrow.png);
  background-repeat: no-repeat;
  background-size: 1.9375em 0.625em;
  background-position: left center;
}
.course_tab_con ul li:first-of-type {
  padding-left: 0;
  background: none;
}

/***** TYPE3 - TAB in TAB *****/
.type3 .innerbox {
  padding-top: 4em;
}

.area_wrap {
  width: 100%;
}
.area_wrap:nth-of-type(1) .area_tab_btn {
  left: 0;
}
.area_wrap:nth-of-type(2) .area_tab_btn {
  left: 33.5%;
}
.area_wrap:nth-of-type(3) .area_tab_btn {
  left: 67%;
}
.area_wrap[open] .area_tab_btn {
  background-color: #f64492;
  color: #fff;
}

.area_tab_btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  width: 33%;
  border: 1px solid #f64492;
  text-align: center;
  color: #f64492;
  font-weight: 700;
}

.area_tab_con {
  padding: 1em;
  background-color: #033D57;
  color: #fff;
}

.area__title {
  text-align: center;
  font-size: 1.25em;
}
.area__title em {
  color: #ffe241;
}

.area__course {
  position: relative;
  padding-top: 5em;
}
.area__course .course_tab_btn {
  top: 1em;
}
.area__course .course_tab_con {
  padding: 0;
}

@media screen and (max-width: 1650px) {
  section {
    padding: 0 1em;
  }
}